/***************************
    Site Design CSS
***************************/

#box {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  color: #333;
  text-align: center;
  overflow: visible;
}

#box .heading {
  display: inline-block;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.3em;
  letter-spacing: -4px;
  margin: 0.8rem 0 0 0;
  padding-bottom: 5px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.65em;
  margin: 0.6em auto 0.6em auto;
  padding: 0;
  width: 23em;
}

p.small {
  font-size: 0.8em;
}

a,
a:visited,
a:hover {
  color: #333;
  font-weight: 600;
}


/***************************
    Google Table CSS
***************************/

.google-visualization-table-tr-even,
.google-visualization-table-tr-even td,
.google-visualization-table-tr-even-nonstrict {
  background-color: #fff !important;
  color: #333 !important;
}

.google-visualization-table-tr-odd,
.google-visualization-table-tr-odd td,
.google-visualization-table-tr-odd-nonstrict {
  background-color: #fff !important;
  color: #333 !important;
}

.google-visualization-table-tr-sel,
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-sel-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-over,
.google-visualization-table-tr-over td,
.google-visualization-table-tr-over-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-td,
.google-visualization-table-th {
  border: 1px solid #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-head,
.google-visualization-table-tr-head td,
.google-visualization-table-tr-head-nonstrict {
  background-color: #333 !important;
  background-image: none !important;
  color: #fff !important;
}

.google-visualization-table .gradient {
  background-image: none !important;
}


/***************************
    Text Selection CSS
***************************/

::-moz-selection {
  color: #fff;
  background: #333;
}

::selection {
  color: #fff;
  background: #333;
}


/* pagination css */

* {
  margin: 0;
  padding: 0;
  text-align:center;
}

body {
  background-color: #fafafa;
}

table {
  color: #333;
  font-size: .9em;
  font-weight: 300;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border-radius: 2px;
}

th {
  background: #ed1c40;
  color: #fff;
  border: none;
}

tr:hover:not(th) {background-color: rgba(237,28,64,.1);}


input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

input[type="button"]:not(.active) {
    background-color:transparent;
}

.active {
    background-color: #ff4d4d;
    color :#fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}